.c-card {
  border: 1px solid var(--color--dark-gray);
  border-radius: 2px;
  box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.08),
    0 1px 3px 1px rgba(60, 64, 67, 0.16);
  margin-bottom: 16px;
  padding: 12px;
  width: auto;
  display: flex;
  background-color: rgba(210, 210, 210, 0.3); /* --color--light-grey */
}

.c-card__container {
  width: 100%;
}

.c-card__img {
  height: 240px;
  width: 320px;
  border: 1px solid var(--color--light-gray);
}

.c-card__title {
  text-align: left;
  margin-top: 0;
  line-height: 2rem;
}

.c-card__description {
  display: flex;
  justify-items: center;
  padding-left: 12px;
}

.c-card__price {
  text-align: right;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 0;
  margin-left: auto;
}

.c-card__actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 130px;
}

.c-card__actions > button:not(:last-of-type) {
  margin-right: 8px;
}

.c-card__button {
  background-color: var(--color--la-palma);
  padding: 8px 16px;
  color: var(--color--white);
  text-transform: uppercase;
  border-width: 0;
  font-weight: 400;
  border-bottom: 4px solid var(--color--crusoe);
  cursor: pointer;
}

.c-card__button--more-details {
  background-color: var(--color--tangerine-yellow);
  border-bottom: 4px solid var(--color--carrot-orange);
}

@media (min-width: 320px) and (max-width: 480px) {
  .c-card {
    display: flex;
    flex-direction: column;
  }

  .c-card__title {
    margin-top: unset;
  }

  .c-card__description {
    display: block;
    padding-left: 0;
  }

  .c-card__actions {
    margin-top: unset;
  }

  .c-card__button {
    width: 100%;
  }

  .c-card__actions > button:not(:last-of-type) {
    margin-right: 0;
  }

  .c-card__button--more-details {
    display: none;
  }

  .c-card__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 12px;
  }
}
