@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");

.c-header {
  display: flex;
  align-items: center;
  padding: 12px;
}

.c-header__title {
  font-family: "Luckiest Guy", cursive;
  letter-spacing: 2px;
}

.c-header__nav {
  margin-left: auto;
}

.c-header__nav > a {
  color: var(--color--fuscous-grey);
}

.c-header__nav > a:not(:last-of-type):after {
  content: " |";
}

.c-header__nav > a:not(:last-of-type) {
  margin-right: 4px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .c-header {
    justify-content: flex-start;
    flex-direction: column;
  }

  .c-header__nav {
    margin-left: 0;
  }
}
