@import "~normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "./variables.css";

html {
  color: var(--color--fuscous-grey);
  font-family: 'Roboto', sans-serif;
}
