/* Color names: @see https://www.color-blindness.com/color-name-hue/ */
:root {
    --color--crusoe: #146A20;
    --color--la-palma: #3D8F31;
    --color--tangerine-yellow: #FCD103;
    --color--carrot-orange: #F09218;
    --color--fuscous-grey: #343133;
    --color--dark-gray: #a2a2a2;
    --color--light-grey: #D2D2D2;
    --color--white: #ffffff;
}